.logo{
font-weight: 700;
font-size: 18px;
line-height: 1.11111;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #323f47;
}
@media screen and (min-width: 768px) {
    .logo {
        font-size: 24px;
        line-height: 1.08333;
    }
}