.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addWaterBtn {
  width: 127px;
  height: 30px;
  gap: 10px;
  background-color: transparent;
  padding: 0;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.wrapPlusIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 300;
  border-radius: 50%;
  background-color: var(--lettuce);

  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}

.plusIcon {
  stroke: var(--dark-blue);
  line-height: 0;

  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}

.addWaterBtn:is(:hover, :focus) .wrapPlusIcon {
  background-color: var(--dark-blue);
}

.addWaterBtn:is(:hover, :focus) .plusIcon {
  stroke: white;
}
