.modal {
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;

  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  /* z-index: 999; */
  opacity: 10000;
  pointer-events: all;
}

.modalContent {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  min-width: 270px;
  /* width: 50vw; */
  max-height: 80vh; /* Встановлюємо максимальну висоту */
  overflow-y: auto; /* Додаємо смужки прокрутки по вертикалі */
  margin-right: -16px;
  transform: scale(0.5);
  transition: 0.4s all;
  /* z-index: 999; */
}
@media screen and (min-width: 375px) {
  .modalContent {
    width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .modalContent {
    width: 648px;
    padding: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .modalContent {
    width: 920px;
  }
}

.modalContent.active {
  transform: scale(1);
  /* z-index: 999; */
}

.icon {
  stroke: black;
}

.modalContent::-webkit-scrollbar {
  height: 283px;
  width: 8px;
}

.modalContent::-webkit-scrollbar-track {
  border-radius: 30px;
  background: var(--white);
}

.modalContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--light-gray);
}
