.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  /* width: 50vw; */
  width: 343px;
  transform: scale(0.5);
  transition: 0.4s all;
}
@media screen and (min-width: 768px) {
  .modalContent {
    width: 518px;
  }
}
@media screen and (max-width: 350px) {
  .modalContent {
    width: 300px;
  }
}

.modalContent.active {
  transform: scale(1);
}
