.section {
  border-radius: 30px;
  height: 780px;
  background: var(--light-gray);
}
.pad {
  padding: 0px 15px 0px 15px;
}
.logo {
  padding-top: 20px;
  padding-bottom: 125px;
}
.h2 {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}
.divIcon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 40px;
  right: 30px;
}
.form {
  padding: 32px 0px 0px 0px;
}
.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--dark);
}
.field {
  padding-bottom: 10px;
}
.field3 {
  padding-bottom: 32px;
  position: relative;
}
.input {
  background: var(--light-gray);
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 0 16px 16px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  letter-spacing: -0.01em;
  margin-top: 10px;
}
.error {
  color: red;
  font-size: 14px;
}
.button {
  border-radius: 30px;
  padding: 16px 0;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--dark);
  background: var(--lettuce);
}
.button:hover,
.button:focus {
  background: var(--lettuce-secondary);
}
.text {
  display: flex;
  justify-content: center;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--secondary-text);
  padding-top: 20px;
}
.link {
  font-weight: 700;
  margin-left: 2px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--dark);
}
@media screen and (min-width: 768px) {
  .section {
    height: 960px;
  }
  .pad {
    padding: 0px 0px 0px 30px;
  }
  .logo {
    padding-top: 40px;
    padding-bottom: 200px;
  }
  .div {
    padding: 0px 100px;
  }
  .h2 {
    font-size: 36px;
  }
  .label {
    font-size: 16px;
    line-height: 1.5;
  }
  .input {
    font-size: 16px;
    border-radius: 15px;
    padding: 16px 0 16px 16px;
    width: 435px;
    height: 56px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 435px;
    font-size: 16px;
    padding: 18px 0px;
    height: 60px;
  }
  .divIcon {
    top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    width: 672px;
    height: 736px;
  }
  .logo {
    padding-bottom: 100px;
  }
  .divIcon {
    top: 48px;
  }
}
