.dayBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
}

.fullColor {
  background-color: var(--white);
}

.notfullColor {
  background-color: var(--calendarItemColor);
}
@media screen and (min-width: 768px) {
  .dayBtn {
    font-size: 16px;
    /* width: 38px;
    height: 38px; */
  }
}
@media screen and (min-width: 1440px) {
  .dayBtn {
    width: 38px;
    height: 38px;
  }
}
