.dayBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
}
.dayBtn:is(:hover, :focus) {
  background-color: var(--dark-blue);
  color: var(--lettuce);
}
@media screen and (min-width: 768px) {
  .dayBtn {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }
}

.fullColor {
  background-color: var(--white);
}

.notfullColor {
  background-color: var(--calendarItemColor);
}
