.dayBtn {
  display: flex;
  justify-content: center;
  line-height: 28px;
  font-weight: 500;
  cursor: pointer;
  /* border-radius: 30px;
  background-color: rgb(148, 146, 146); */
}
.whiteBackground {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .dayBtn {
    line-height: 38px;
  }
}
