.settingSection {
  /* position: relative; */
}

.btnClose {
  position: absolute;
  top: 20px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .btnClose {
    top: 40px;
    right: 40px;
  }
}

.settingCaption {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .settingCaption {
    margin-top: 0px;
    font-size: 28px;
    line-height: 32px;
  }
}
.icon {
  stroke: black;
}
