.calendarWrap {
  position: relative;
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 20px;

  padding-top: 24px;
}
.item {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  line-height: 28px;
  width: calc((100% - 6 * 18px) / 7);
}
.percentage {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  color: var(--grey-text);
}
@media screen and (min-width: 768px) {
  .list {
    column-gap: 48px;
    row-gap: 15px;
  }
  .item {
    width: calc((100% - 7 * 48px) / 8);
  }
}
@media screen and (min-width: 1440px) {
  .list {
    column-gap: 43px;
  }

  .item {
    width: calc((100% - 7 * 43px) / 8);
  }
}

.errorMessage {
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .errorMessage {
    font-size: 18px;
  }
}
