.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 20px;

  padding: 24px 0 24px 0;
}
.item {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  line-height: 28px;
  width: calc((100% - 6 * 18px) / 7);
}
.percentage {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  color: var(--grey-text);
}
