.list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0 auto;
  padding: 24px 0 24px 0;
}
.item {
  text-align: center;
  background-color: lightgray;
  border-radius: 30px;
  line-height: 28px;
  height: 28px;
  padding: 0;
  width: calc((100% - 6 * 18px) / 7);
}

/* 
.datepicker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-1%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 354px;
  padding: 9px 18px;
  background-color: #3e85f3;
  font-family: Inter;
  border-radius: 16px;
} */
