.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: var(--dark);
  fill: transparent;
}

.caption {
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .caption {
    font-size: 18px;
  }
}

.btnDelete {
  margin-bottom: 10px;
  min-width: 270px;
  background-color: coral;
  color: #f0eff4;
  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}
@media screen and (min-width: 375px) {
  .btnDelete {
    min-width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .btnDelete {
    margin-bottom: 0px;
    min-width: 170px;
  }
}

.btnCancel {
  min-width: 270px;
  background-color: #f0eff4;
  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}
@media screen and (min-width: 375px) {
  .btnCancel {
    min-width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .btnCancel {
    min-width: 170px;
  }
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: lightcoral;
}

.btnCancel:hover,
.btnCancel:focus {
  background-color: gray;
}

.wrapBtn {
}
@media screen and (min-width: 768px) {
  .wrapBtn {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
