:root {
  --dark: #2f2f2f;
  --dark-blue: #323f47;
  --lettuce: #9be1a0;
  --lettuce-secondary: #87d28d;
  --light-gray: #f0eff4;
  --white: #ffffff;
  --secondary-text: #bcbcbc;
  --error: #ef5050;
}
