.lngBtn {
  color: var(--dark);
}

.lngBtn:hover {
  color: var(--lettuce-secondary);
}

.lngBtn.active {
  color: var(--lettuce-secondary);
}

.lngBtns {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
}
