.section {
  border-radius: 30px;
  width: 100%;
  height: 353px;
  background-size: cover;
  position: relative;
}
.div {
  position: absolute;
  left: 15px;
  top: 205px;
  display: flex;
}
.divsecond {
  display: flex;
  gap: 3px;
  border-radius: 30px;
  padding: 10px 14px;
  background: #ffffff;
}

.photo_list {
  display: flex;
  width: 68px;
  height: 26px;
  position: relative;
}
.list_items {
  position: absolute;
  width: 26px;
  height: 28px;
  background: var(--white);
  border-radius: 50%;
}

.list_items:nth-child(1) {
  z-index: 3;
}

.list_items:nth-child(2) {
  z-index: 2;
  left: 20px;
}

.list_items:nth-child(3) {
  z-index: 1;
  right: 0;
}
.parag {
  font-weight: 700;
  font-size: 12px;
  width: 80px;
  color: var(--dark-blue);
}

.paragSpan {
  margin-right: 3px;
}

.paragSpanLast {
  display: inline-block;
}

.span {
  color: var(--lettuce);
  margin-right: 3px;
}

.list_trk {
  display: flex;
  position: absolute;
  top: 225px;
  left: 40px;
}

.text {
  font-weight: 700;
  font-size: 8px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  white-space: nowrap;
}
.text2 {
  font-weight: 700;
  font-size: 8px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  text-align: center;
  white-space: nowrap;
}
.cycle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--lettuce);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.item_trk {
  display: flex;
  position: absolute;
  border-radius: 30px;
  padding: 9px 12px;
}
.item_trk:nth-child(1) {
  top: 45px;
  left: 55px;
  background: var(--dark-blue);
}
.item_trk:nth-child(2) {
  top: 45px;
  left: 140px;
  background-color: var(--lettuce);
}
.item_trk:nth-child(3) {
  top: 75px;
  left: 55px;
  background-color: var(--white);
}
.badge {
  position: absolute;
  top: 10px;
  right: -5px;
}

.hearts {
  position: absolute;
  padding: 3px;
  top: -10px;
  right: -10px;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (min-width: 375px) {
  .item_trk:nth-child(1) {
    top: 45px;
    left: 90px;
    background: var(--dark-blue);
  }
  .item_trk:nth-child(2) {
    top: 45px;
    left: 175px;
    background: var(--lettuce);
  }
  .item_trk:nth-child(3) {
    top: 75px;
    left: 90px;
    background: var(--white);
  }
}
@media screen and (min-width: 768px) {
  .section {
    height: 446px;
  }
  .div {
    left: 30px;
    top: 285px;
    width: 237px;
    height: 67px;
  }
  .divsecond {
    padding: 10px 20px;
    align-items: center;
  }
  .parag {
    font-size: 14px;
  }
  .item_trk:nth-child(1) {
    top: 130px;
    left: 350px;
    padding: 11px 16px;
    height: 34px;
  }
  .item_trk:nth-child(2) {
    padding: 11px 16px;
    top: 130px;
    left: 470px;
  }
  .item_trk:nth-child(3) {
    padding: 11px 16px;
    top: 175px;
    left: 350px;
  }
  .text {
    font-size: 12px;
  }
  .text2 {
    font-size: 12px;
  }
  .list_items {
    width: 47px;
    height: 47px;
  }
  .photo_list {
    width: 105px;
    height: 47px;
  }
  .list_items:nth-child(2) {
    z-index: 2;
    left: 28px;
  }
  .badge {
    right: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    width: 672px;
    height: 736px;
  }
  .div {
    top: 540px;
    left: 40px;
  }
  .item_trk:nth-child(1) {
    top: 400px;
    left: 340px;
  }
  .item_trk:nth-child(2) {
    top: 400px;
    left: 460px;
  }
  .item_trk:nth-child(3) {
    top: 440px;
    left: 340px;
  }
}
