.counter {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.icon {
  stroke: var(--dark);
  fill: transparent;
}

.btnCounter {
  padding: 0;
  font-weight: 700;
}

.countValue {
  min-width: 89px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  border-radius: 30px;
  padding: 11px 20px;
  color: var(--white);
  background-color: var(--dark-blue);
}
