.wrapper {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.month {
  color: var(--dark-blue);
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
  .month {
    font-size: 28px;
  }
}
