.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.avatarWrap {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

.imgWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
}
@media screen and (min-width: 768px) {
  .imgWrap {
    width: 100px;
    height: 100px;
  }
}

.avatar {
  width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.uploudBtn {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .uploudBtn {
    font-size: 16px;
    white-space: nowrap;
  }
}

.uploud {
  width: 18px;
  height: 18px;
  stroke: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .uploud {
    width: 20px;
    height: 20px;
  }
}

.labelImportanGender {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  display: flex;
}

@media screen and (min-width: 768px) {
  .labelImportanGender {
    font-size: 18px;
  }
}

.gender {
  margin-top: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.labelImportan {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;

  display: flex;
}
@media screen and (min-width: 768px) {
  .labelImportan {
    font-size: 18px;
  }
}

.labelNotImportan {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  display: flex;
}
@media screen and (min-width: 768px) {
  .labelNotImportan {
    font-size: 18px;
  }
}

.WrapNameEmail {
  display: flex;
  flex-direction: column;
  /* gap: 14px; */
}

.dailyNormaWrap {
  margin-top: 24px;
  margin-bottom: 24px;
}

.labelDailyNorma {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  display: flex;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .labelDailyNorma {
    font-size: 18px;
  }
}
.formula {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #9be1a0;
  margin-bottom: 12px;
}

.Wrapdesc {
  margin-top: 14px;
  margin-bottom: 14px;
}

.description {
  padding: 16px;
  gap: 10px;
  border-radius: 15px;

  color: #2f2f2f26 15%;
  border: 1px solid #2f2f2f26;
}

.star {
  color: #9be1a0;
}

.attention {
  display: flex;
}

.infoUser {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

.requiredWater {
  margin-top: 24px;
  margin-bottom: 14px;
}

.waterUser {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

input {
  padding: 14px;
  border-radius: 15px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(47, 47, 47, 0.2);
  margin-bottom: 14px;
  margin-top: 8px;
}

.btnSetting {
  display: inline-block;
}

.genderWrap {
  width: 187px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

input[type='radio'] {
  display: none;
}
.gender {
  margin-bottom: 10px;
}

/* Внутрішня рамка контейнера радіокнопки */
.gender label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* Стилі для "псевдо-кнопок" */
.gender label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid #9be1a0;
  border-radius: 50%;
}

/* Зміна стилю "псевдо-кнопок" при виборі */
.gender input[type='radio']:checked + label:before {
  background-color: white;
}

.gender label:after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #9be1a0;
  border-radius: 50%;
}

.gender input[type='radio']:checked + label:after {
  display: block;
}
.uploud {
  fill: none;
  stroke: var(--dark-blue);
}

@media screen and (min-width: 1440px) {
  .wrapUserData {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapCurrentUser {
    width: 400px;
  }
}

.errorYup {
  font-size: 14px;
  color: red;
  padding: 0;
  margin: 0;
}
.redLabel {
  color: red;
}

.deleteBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  padding: 18px 10px;
  border: 1px solid coral;
  background-color: coral;
  border-radius: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: white;

  transition: background-color var(--animation-duration)
    var(--animation-time-function);

  &:hover,
  &:focus {
    background-color: lightcoral;
  }
}

.deleteBtnR {
  border: 1px solid coral;
  display: flex;
  gap: 8px;
  color: coral;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.5;
  padding: 7px 10px;
  border-radius: 30px;

  transition: background-color var(--animation-duration)
      var(--animation-time-function),
    color var(--animation-duration) var(--animation-time-function);
}

.deleteBtnR:hover,
.deleteBtnR:focus {
  background-color: coral;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    top: 90%;
  }

  .deleteBtn {
    font-size: 15px;
  }
}

.boxText {
  border-radius: 8px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.wrapperBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .wrapperBtn {
    justify-content: flex-start;
    gap: 30px;
  }
}
