.wrapper {
  position: absolute;
  top: 110%;
  left: 0%;
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  border-radius: 15px;
  background-color: white;

  opacity: 0;
  transition: opacity 7s var(--animation-time-function);
}

.wrapper.active {
  opacity: 1;
}

.settingBtn {
  border: none;
  display: flex;
  gap: 8px;
  color: var(--dark-blue);
  cursor: pointer;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 30px;

  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}
.settingBtn:hover,
.settingBtn:focus {
  background-color: var(--calendarItemColor);
}

.icon {
  fill: none;
  stroke: var(--dark-blue);
}
.logoutBtn {
  border: none;
  display: flex;
  gap: 8px;
  color: var(--light-grey);
  cursor: pointer;
  font-weight: bold;
  opacity: 0.5;

  padding: 7px 10px;
  border-radius: 30px;

  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: var(--calendarItemColor);
}
