.wrapper {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  gap: 8px;
  border-radius: 15px;
  background-color: white;
}

.settingBtn {
  border: none;
  display: flex;
  gap: 8px;
  color: var(--dark-blue);
  cursor: pointer;
  font-weight: bold;
}
svg {
  fill: none;
  stroke: var(--dark-blue);
}
.logoutBtn {
  border: none;
  display: flex;
  gap: 8px;
  color: var(--light-grey);
  cursor: pointer;
  font-weight: bold;
  opacity: 0.5;
}
