.wrapper {
  position: absolute;
  top: 110%;
  left: 0%;
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  border-radius: 15px;
  background-color: white;
  opacity: 0;
  transition: opacity 7s var(--animation-time-function);
}

.wrapper.active {
  opacity: 1;
  z-index: 999;
}

.settingBtn {
  border: none;
  display: flex;
  gap: 8px;
  color: var(--dark-blue);
  cursor: pointer;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 30px;
  padding-right: 40px; /*для однакового розиіру Popover з батьківським dropdown */

  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}
.settingBtn:hover,
.settingBtn:focus {
  background-color: var(--calendarItemColor);
}

.icon {
  fill: none;
  stroke: var(--dark-blue);
}
.logoutBtn,
.deleteBtn {
  border: none;
  display: flex;
  gap: 8px;
  color: var(--light-grey);
  cursor: pointer;
  font-weight: bold;
  opacity: 0.5;
  padding: 7px 10px;
  border-radius: 30px;

  transition: background-color var(--animation-duration)
    var(--animation-time-function);
}

.logoutBtn:hover,
.logoutBtn:focus,
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: var(--calendarItemColor);
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    top: 90%;
  }
}

.wrapperBtn {
  display: flex;
  align-items: center;
  gap: 8px;
}
