.section {
  border-radius: 30px;
  height: 411px;
  display: flex;
  background: var(--light-gray);
}
.pad {
  padding: 15px 15px;
}
.logo {
  padding: 0px 0 75px 0px;
}
.parag {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.06em;
  color: var(--dark);
  padding-bottom: 20px;
}
.button {
  display: inline-block;
  padding-top: 20px;
  border-radius: 30px;
  padding: 14px 19px;
  background-color: var(--lettuce);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--dark-blue);

  margin-right: 10px;
  cursor: pointer;

  transition: background-color var(--animation-duration)
      var(--animation-time-function),
    transform var(--animation-duration) var(--animation-time-function);
}

.button:hover,
.button:focus {
  background-color: var(--lettuce-secondary);
  transform: scale(1.05);
}

.h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  padding-bottom: 35px;
  max-width: 500px;
}

.login {
  display: inline-block;
  border: 1px solid var(--dark-blue);
  border-radius: 30px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  cursor: pointer;

  transition: border-color var(--animation-duration)
      var(--animation-time-function),
    color var(--animation-duration) var(--animation-time-function),
    transform var(--animation-duration) var(--animation-time-function);
}

.login:hover,
.login:focus {
  border-color: var(--lettuce-secondary);
  transform: scale(1.05);
  color: var(--lettuce-secondary);
}
@media (min-width: 768px) {
  .section {
    height: 498px;
  }
  .pad {
    padding: 30px 30px;
  }
  .logo {
    padding-bottom: 50px;
  }
  .div {
    margin-left: 30px;
  }
  .parag {
    font-size: 16px;
    line-height: 1.5;
  }
  .h1 {
    font-size: 64px;
    line-height: 1.09375;
    padding-bottom: 50px;
  }
  .button {
    padding: 16px 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .login {
    padding: 16px 40px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
  .pad {
    padding: 32px 32px;
  }
  .section {
    width: 672px;
    height: 736px;
  }
  .logo {
    padding-bottom: 135px;
  }
  .h1 {
    padding-bottom: 75px;
    font-size: 80px;
  }
}
