.section {
  border-radius: 30px;
  height: 411px;
  display: flex;
  background: var(--light-gray);
}
.pad {
  padding: 0 15px;
}
.logo {
  padding: 20px 0 75px 0px;
}
.parag {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.06em;
  color: var(--dark);
  padding-bottom: 20px;
}
.h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  padding-bottom: 35px;
}
.signup {
  border-radius: 30px;
  padding: 14px 19px;
  background: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}
.login {
  border: 1px solid var(--dark-blue);
  border-radius: 30px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
}
@media (min-width: 768px) {
  .section {
    height: 498px;
  }
  .pad {
    padding: 0 30px;
  }
  .logo {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .div {
    margin-left: 30px;
  }
  .parag {
    font-size: 16px;
    line-height: 1.5;
  }
  .h1 {
    font-size: 64px;
    line-height: 1.09375;
    padding-bottom: 50px;
  }
  .signup {
    padding: 18px 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .login {
    padding: 18px 40px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
.section{
  width: 672px;
height: 736px;
}
.logo{
  padding-bottom: 135px;
}
.h1{
  padding-bottom: 75px;
  font-size: 80px;
}
}
