.date {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 28px;
    line-height: 1.14em;
  }
}
