.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px 40px;
  border-radius: 30px;

  background-color: var(--lettuce);
  color: var(--dark-blue);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;

  transition: background-color var(--animation-duration)
    var(--animation-time-function);

  &:hover,
  &:focus {
    background-color: var(--lettuce-secondary);
  }
}
